// Prevent rubber-band scroll
html { height: 100%; width: 100%; overflow: hidden; }
body { height: 100%; padding: 0; overflow: auto; margin: 0; -webkit-overflow-scrolling: touch; }
// End Prevent rubber-band scroll

$background-color: #f5f5f5;

.navbar {
    overflow: hidden;
    background-color: $background-color;
    position: fixed;
    top: 0;
    width: 100%;
}

canvas {
    display: block;
}
